<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bucket</title>
</head>
<body>
<div th:insert="{fragments/menu :: #nav-menu}"></div>
<h2>Your bucket</h2>
<h3>All sum -><a th:text="${bucket.sum}">1000</a></h3>
<table border="1" align="center">
    <tr>
        <td>Title</td>
        <td>Amount</td>
        <td>Price</td>
        <td>Sum</td>
        <td></td>
    </tr>
    <tr th:each="detail : ${bucket.bucketDetails}">
        <td th:text="${detail.title}">Car</td>
        <td th:text="${detail.amount">2</td>
        <td th:text="${detail.price}">12.8</td>
        <td th:text="${detail.sum">25.6</td>
        <td><a th:href="a">Remove</a></td>
    </tr>
</table>
</body>
</html>